		html,body{
			margin: 0;
			padding: 0;
		}
		.wholePage{
			background-repeat: no-repeat;
			background-size:cover;
			background-position: center center;
			padding: 0;
			margin:0;
			background-color: #D8D8D8 ;
		}
		.jumbotron-fluid{
		    background-image:url('kobe.gif');
		    width: 100%;
		}
		.container{
			text-align: center;
			color:red;
			font-family: 'Wallpoet', cursive;
		}
		.homeBtn{
			display: none;
		}
		.numPlayers{
			padding-left: 100px;
		}
		select{
			width: 300px;
		}
		i{
			font-family: 'Teko', sans-serif;

		}
		.titleCol{
			font-family: 'Rajdhani', sans-serif;
			color:red;
			text-align: center;
		}
		canvas{ 
			display: block; 
			vertical-align: bottom; 
		}
		.teamRow{
			height:560px;
			width:100%;
			overflow-y:hidden;
			overflow-x:scroll;
		}
		.redirect{
			display: none;
		}
		.team{
			height:500px;
			width: 300px;
			background-color:white;
			justify-content:center;
			margin-right:10px; 
			margin-top: 10px;
			margin-left: 10px;
			border-radius: 15px;
			overflow-y:hidden;
			overflow-x:scroll;
			color:black;
		} 
		.flex-container{
			display: flex;
			flex-wrap:wrap;
		}

		img{
			width:150px;
			margin-right: 10px;
			height: 150px;
			border-radius: 25px;
			text-align: center;
			margin:auto;
			margin-top: 10px;
			background-color: #B4ECFF;
		}
		.playerContainer{
			flex-direction: row;
		}
		#particles-js{ 
			position:absolute; 
			width: 100%;
			height: 100%; 
			background-image: url(""); 
			background-repeat: no-repeat; 
			background-size: cover; 
			background-position: 50% 50%; 
		}
		.flex-container{
			display: flex;
			flex-wrap:wrap;
			flex-direction: row; 
		}
		/*table width */
		@media(min-width: 768px) and (max-width: 991px){
			.flex-container{
				flex-direction:nowrap;
			}
			.teamRow{
				height:100%;
				overflow: scroll;
				overflow-y:hidden;
				overflow-x:scroll;
				justify-content: center;
			}
		}
		/*large*/
		@media(min-width: 992px){
			.flex-container{
				flex-direction: row;
				flex-wrap: nowrap; 
			}
			.teamRow{
				height:100%;
				overflow: scroll;
				overflow-y:hidden;
				overflow-x:scroll;
			}
		}
		/*small*/
		@media(max-width: 767px){
			.teamRow{
				height:100%;
				width:100%;
				overflow: scroll;
				overflow-y:scroll;
				overflow-x:hidden;
				justify-content: center;
			}
			.flex-container{
				flex-wrap: wrap;
			}
		}

